In [2]:
from pyspark.sql import SparkSession

#Criar uma sessão Spark
spark = SparkSession.builder\
    .appName("Exemplo de spark SQL")\
    .getOrCreate()


#Criar um conjunto de dados fictício sobre estudantes
data = [
    ("Ana",20,"Matemática"),
    ("Pedro",22,"Física"),
    ("Maria",19,"Quimica"),
    ("Lucas",21,"Biologia"),
    ("João",22,"Matemática")
]

#Definir o nome das colunas 
columns = ["Nome", "Idade","Curso"]

#Criar DataFrame
df = spark.createDataFrame(data,columns)

#Registrar o DataFrame como uma tabela temporária
df.createOrReplaceTempView("Estudantes")

#executar consultas SQL 
print("Estudantes com mais de 20 anos")
spark.sql("SELECT Curso, COUNT(*) AS Total FROM Estudantes GROUP BY Curso").show()

print("Idade média dos estudantes")
spark.sql("SELECT AVG(Idade) AS IdadeMedia FROM Estudantes").show()

#Encerrar sessão spark
spark.stop()

25/04/05 01:03:58 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

Estudantes com mais de 20 anos

+----------+-----+
|     Curso|Total|
+----------+-----+
|    Física|    1|
|Matemática|    2|
|  Biologia|    1|
|   Quimica|    1|
+----------+-----+

Idade média dos estudantes
+----------+
|IdadeMedia|
+----------+
|      20.8|
+----------+