In [2]:
from pyspark.sql import SparkSession

#Criar uma sessão Spark
spark = SparkSession.builder\
    .appName("Exemplo de spark SQL")\
    .getOrCreate()

#Criar dados diretamente
data = [("Alice", 24), ("Bob",30),("Charlie", 29)]
colums = ["Nome","Idade"]

#criar DataFrame
df = spark.createDataFrame(data,colums)

#Registrar como tabela temporária
df.createOrReplaceTempView("Pessoas")

#Executar uma consulta SQL simples
resultado = spark.sql("SELECT Nome FROM Pessoas WHERE Idade > 25")
resultado.show()

+-------+
|   Nome|
+-------+
|    Bob|
|Charlie|
+-------+